body {
    background: #ccc;
    font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding-top: 81px;
}
a {
    color: #47c19c;
}
a:focus {
	outline: none;
}
.navbar {
	border: none;
}
.navbar-inverse {
    background-color: #2f3338;
    border-radius: 0
}
.navbar-brand {
    background-image: url(../img/logo-inverted.png);
	background-position: 15px 2px;
	background-repeat: no-repeat;
	background-size: 100px 39px;
    height: 40px;
    margin-right: 25px;
    margin-top: 6px;
    text-indent: -9999em;
    width: 141px
}
.navbar-nav.main-menu > li > a, #user .nav a {
  padding-bottom: 10px !important;
  padding-top: 26px !important;
  text-transform: uppercase;
  font-size: 13px !important;
}
.navbar-nav.main-menu > li > a {
  font-weight: 300;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background: none;
}
.nav > li.active {
    background: url("../img/current-user.png") no-repeat center 49px;
}
.nav > li > a > img {
    margin-top: -10px;
}
.navbar .dropdown-menu {
  background: #2f3338;
  padding: 0;
}
.dropdown-menu > li > a {
  color: #939ca6 !important;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 1.2;
  padding: 7px 20px !important;
}
.second-menu form#search {
    margin-top: 5px;
}
.input-group-btn > .btn {
  background: #eee;
  border: 1px solid #dedede;
  color: #696d72;
}
.input-group-btn > .btn:hover {
  background: #e5e5e5;
  border: 1px solid #d0d0d0;
  color: #696d72;
}
.second-menu .input-group-btn > .btn {
  background: #2F3338;
  border: 1px solid #2F3338;
  color: #696d72;
}
.second-menu .input-group-btn > .btn:hover {
  background: #2F3338;
  border: 1px solid #2F3338;
  color: #fff;
}
.second-menu {
  background: #47c19c;
}
.second-menu ul li {
    display: inline-block;
    margin-right: 15px;
}
.navbar .second-menu ul li a {
  color: #fff !important;
  line-height: 39px;
  padding: 0;
}
.second-menu .form-control {
  background-color: #2f3338;
  box-shadow: none;
  height: 30px;
  padding: 4px 12px;
  border: none;
}
.second-menu #search .btn {
  padding: 4px 12px;
}
.jumbotron {
    background: #2f3338 url(../img/home-bg.png) no-repeat center;
    color: white;
    padding: 150px 0;
}
.jumbotron a {
    color: #47c19c;
}
.jumbotron p {
    margin-bottom: 0
}
.home-facets {
    text-align: center;
    padding: 2em 0
}
.home-facets .block {
    padding: 28px 30px;
	background: #fff;
	border-bottom: 2px solid #bdbcba;
	height: 320px;
}
.home-facets .block:hover {
	border-bottom: 2px solid #47c19c;
}
.home-facets a {
    color: #2f3338;
}
.home-facets h2 {
    font-size: 24px;
	margin-top: 15px;
}
.home-facets .intro {
    font-size: 16px;
	color: #72777c;
	font-style: italic;
	line-height: 22px;
}
.home-facets a:hover {
    color: #fff;
    text-decoration: none
}
.btn.blue {
    background: #47c19c;
	color: #fff;
}
.btn {
    background: #47c19c;
    border: none;
    color: #fff;
    transition: all 0.2s ease-out 0s;
}
.btn:hover, btn:focus {
    color: #fff;
    opacity: 0.8;
	background: #47c19c;
}
footer {
    padding: 20px;
	background: #2f3338;
	color: #fff;
}
footer select {
    background: #2f3338;
	border: 1px solid #2f3338;
	color: #aaa;
}

/** Remove the add map page secondary menu **/
body.ext-gecko > .x-panel {
  padding-top: 30px;
}
body.ext-gecko .second-menu {
  display: none;
}
